flows.json
[
    {
        "id": "451f46020adaf252",
        "type": "tab",
        "label": "Final Project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7ab45f1bd1eb04d",
        "type": "mqtt in",
        "z": "451f46020adaf252",
        "name": "",
        "topic": "IoT/ESP8266/WashMachine",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a356c28380d377da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "02cfbc97d12b123f",
                "cd2b4a01a350db61",
                "c2c8523370ae0781"
            ]
        ]
    },
    {
        "id": "02cfbc97d12b123f",
        "type": "debug",
        "z": "451f46020adaf252",
        "name": "Board debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "cd2b4a01a350db61",
        "type": "function",
        "z": "451f46020adaf252",
        "name": "func Format Data",
        "func": "const waterLevel = parseFloat(msg.payload);\n\nvar info = [\n  {\n    measurement: \"water_level\",\n    tags: {\n      device: \"ESP8266\"\n    },\n    fields: {\n      volume: waterLevel\n    }\n  }\n];\n\nreturn { payload: info };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "b7c1d8a829b5317d",
                "db845b35bd48381f"
            ]
        ]
    },
    {
        "id": "b7c1d8a829b5317d",
        "type": "debug",
        "z": "451f46020adaf252",
        "name": "Function Data debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "a0626c2cbd460a74",
        "type": "mqtt out",
        "z": "451f46020adaf252",
        "name": "",
        "topic": "IoT/ESP8266/Response",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a356c28380d377da",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "c944e1d67ab5a1cd",
        "type": "debug",
        "z": "451f46020adaf252",
        "name": "Buttom debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "c2c8523370ae0781",
        "type": "ui_gauge",
        "z": "451f46020adaf252",
        "name": "Water measurement",
        "group": "27574c0e04cab06c",
        "order": 0,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Water Level",
        "label": "mL",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fe1616",
            "#ffff2e",
            "#51ff2e"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "329d9b826c9c7978",
        "type": "ui_button",
        "z": "451f46020adaf252",
        "name": "",
        "group": "dcc936261dc8657f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refill buttom",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "a0626c2cbd460a74",
                "c944e1d67ab5a1cd"
            ]
        ]
    },
    {
        "id": "db845b35bd48381f",
        "type": "influxdb batch",
        "z": "451f46020adaf252",
        "influxdb": "9ec4f63ca74b33d4",
        "precision": "",
        "retentionPolicy": "",
        "name": "InfluxDB",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Instituto Politécnico de Bragança",
        "bucket": "FinalProject",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "44fff4ab0ae15b42",
        "type": "ui_spacer",
        "z": "451f46020adaf252",
        "name": "spacer",
        "group": "dcc936261dc8657f",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c389df018a5ac3a5",
        "type": "ui_spacer",
        "z": "451f46020adaf252",
        "name": "spacer",
        "group": "dcc936261dc8657f",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "b6a407b947373c37",
        "type": "ui_spacer",
        "z": "451f46020adaf252",
        "name": "spacer",
        "group": "27574c0e04cab06c",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "a356c28380d377da",
        "type": "mqtt-broker",
        "name": "FinalProject",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "27574c0e04cab06c",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "99f3010538d214e0",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcc936261dc8657f",
        "type": "ui_group",
        "name": "Button",
        "tab": "99f3010538d214e0",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ec4f63ca74b33d4",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "MyInflux",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": false
    },
    {
        "id": "99f3010538d214e0",
        "type": "ui_tab",
        "name": "FP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]